#dropdownMenu {
    display: none; /* Hide by default */
    position: absolute; /* Position it relative to its container */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #dropdownMenu.show {
    display: block; /* Show when the 'show' class is added */
  }

  #dropdownMenu.hidden {
    display: none;;
  }
  /* Add more styles as needed to customize the appearance */