/* VARIABLES */

:root {
    /* fonts */
    --font: MuseoModerno;

    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
    --font-light: 300;
    --font-semibold: 600;

    /* Colors */
    --color-window-bg: rgba(72, 72, 72, 0.42);
    --color-darkgray: #333333;
    --color-dimgray: #5e5e5e;
    --color-lightgray: #afafaf;
    --color-highlightgray: #d9d9d9;
    --color-red: #c33232;
    --color-red-bg: #c3323242;
    --color-green: #299329;
    --color-green-bg: #29932942;
    --color-white: #fff;
    --color-clear: #00000000;

    /* Gradients */
    --bg-gradient: linear-gradient(0deg, #0c003b, #004f68);

    /* Gaps */
    --gap-2xl: 21px;

    /* Paddings */
    --padding-2xl: 21px;
    --padding-5xs: 8px;
    --padding-9xl: 28px;
    --padding-xs: 12px;
    --padding-3xs: 10px;
    --padding-mid: 17px;

    /* Border radiuses */
    --br: 42px;
    --br-account: 32px;
  }

/* BACKGROUND */

body {
  position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  line-height: normal;
  background: black;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* app style */

.app-style {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* LOADER */

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient);
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 9999;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 30px solid var(--color-lightgray);
  border-top-color: var(--color-dimgray);
  border-radius: 50%;
  animation: loading .75s ease infinite;
  transition: opacity 1s ease-in-out;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* SECTIONS */

.window {
  position: relative;
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  border-radius: var(--br);
  font-family: var(--font);
  color: var(--color-white);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 11px 32px 32px 32px;
  box-sizing: border-box;
  margin: 32px;
}

.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.content {
  width: 100%;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}

.h-content {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 21px;
  align-items: center;
  box-sizing: border-box;
}

.h-content > .input-segment {
  margin-top: 0px;
}

.people-list {
  height: 247px;
  width: 100%;
  max-width: 573px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  padding: 32px 8px 32px 32px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.friend-item {
  height: 63px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
}

.friend-item:not(:last-child) {
  border-bottom: 0.5px solid var(--color-lightgray);
}

.match-list {
  height: 500px;
  width: 100%;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  padding: 32px 8px 32px 32px;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-lightgray) var(--color-clear);
}

.scroll-people,
.scroll-matches,
.scroll-tournament-result {
  width: 100%;
  max-height: 100%;
  padding-right: 16px;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-lightgray) var(--color-clear);
  font-family: var(--font);
  font-size: 32px;
  font-weight: var(--font-light);
  text-align: left;
}

/* For Chrome */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-clear);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-lightgray);
  border-radius: var(--br);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-highlightgray);
}

.scroll-people {
  height: 420px;
  overflow-x: hidden;
}

.scroll-matches {
  height: 500px;
}

.scroll-tournament-result {
  height: 190px;
}

.tournament-result-games {
  height: 240px;
  width: 100%;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  padding: 32px 8px 32px 32px;
  margin-top: 42px;
  box-sizing: border-box;
}

.tournament-result-rank {
  height: 240px;
  width: 100%;
  max-width: 320px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  padding: 32px 8px 32px 32px;
  box-sizing: border-box;
}

.list-item {
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.list-item-left {
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.scroll-matches .list-item {
  min-width: 795px;
}

.list-item-left:not(:last-child),
.list-item:not(:last-child) {
  border-bottom: 0.5px solid var(--color-lightgray);
}

.score {
  width: 82.5px;
  display: flex;
  flex-direction: row;
}

.match-result {
  min-width: 465px;
  max-width: 465px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-details {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  padding: 32px;
  box-sizing: border-box;
}

.account-dropdown {
  position: absolute;
  top: 21px;
  left: 21px;
  background-color: var(--color-clear);
  border: 3px solid var(--color-clear);
  border-radius: var(--br-account);
  display: flex;
  flex-direction: column;
  padding: 11px;
}

/* only if dropdown content is shown */
#account-dropdown-id.show {
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  transition: opacity .25s ease-in-out, padding .25s ease-in-out;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity .25s ease-in-out, max-height .25s ease-in-out;
}

#dropdown-content-id.show {
  opacity: 1;
  visibility: visible;
  max-height: fit-content;
  transition: opacity .25s ease-in-out, max-height .25s ease-in-out;
}

/*
.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

#dropdown-content-id.show {
  opacity: 1;
  visibility: visible;
}*/

.announce-player {
  width: 210px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 21px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.announce-vs {
  display: flex;
  flex-direction: column;
  margin: 21px;
  justify-content: center;
}

.game-result {
  width: 100%;
  max-width: 420px;
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 21px;
}

.game-result-player {
  max-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* BUTTONS */

.large-button-green,
.a-large-button,
.large-button,
.large-button-red {
  max-height: 73px;
  min-width: 100px;
  width: 100%;
  cursor: pointer;
  background: var(--color-clear);
  border-radius: var(--br);
  font-family: var(--font);
  font-size: 40px;
  font-weight: var(--font-semibold);
  border: 3px solid var(--color-lightgray);
  color: var(--color-white);
  padding: 0px;
  box-sizing: border-box;
}

.a-large-button {
  display: block;
}


.large-button-red:not(:first-child),
.large-button-green:not(:first-child),
.a-large-button:not(:first-child),
.large-button:not(:first-child) {
  margin-top: 42px;
}

.icon-button {
  min-height: 63px;
  min-width: 63px;
  max-height: 63px;
  max-width: 63px;
  cursor: pointer;
  background: var(--color-clear);
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 19.5px;
}

.small-button-green,
.small-button-red,
.a-small-button,
.small-button {
  height: 47px;
  cursor: pointer;
  background: var(--color-clear);
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  font-size: 25px;
  font-weight: var(--font-light);
  color: var(--color-white);
  text-align: top;
  padding: 0px 16px;
}

.large-button-green,
.small-button-green {
  border: 3px solid var(--color-green);
  background: var(--color-clear);
  color: var(--color-green);
}

.large-button-green:hover,
.small-button-green:hover {
  background-color: var(--color-green-bg)
}

.small-button-red {
  background: var(--color-clear)
}

.small-button-red,
.large-button-red {
  border: 3px solid var(--color-red);
  color: var(--color-red);
}

.small-button-red:hover,
.large-button-red:hover,
.medium-button-red:hover {
  background-color: var(--color-red-bg)
}

.a-small-button {
  height: 41px;
  display: block;
}

.friend-button {
  width: 100%;
  max-width: 303px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: var(--color-clear);
  border-color: var(--color-clear);
}

.match-button {
  height: 38px;
  min-width: 38px;
  max-width: 38px;
  cursor: pointer;
  background: var(--color-dimgray);
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  font-size: 25px;
  font-weight: var(--font-semibold);
  color: var(--color-white);
  line-height: 32px;
  margin-right: 21px;
  line-height: 32px;
}

.logged-out{
  position: fixed;
  top: 21px;
  left: 21px;
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  border-radius: var(--br);
  padding: 11px 21px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logged-in {
  position: fixed;
  top: 21px;
  left: 21px;
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  border-radius: var(--br);
  padding: 11px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--color-clear);
  border: 3px solid var(--color-clear);
  border-radius: var(--br);
  margin: -3px;
  padding: 0;
}

.medium-button-red,
.medium-button {
  height: 42px;
  cursor: pointer;
  background: var(--color-clear);
  border: 1.5px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  font-size: 27px;
  font-weight: var(--font-light);
  color: var(--color-white);
  text-align: left;
  margin-top: 11px;
  padding: 0px 12px;
  text-decoration: none;
}

.medium-button-red {
  border-color: var(--color-red);
  color: var(--color-red);
}

.medium-button:hover,
.icon-button:hover,
.a-large-button:hover,
.large-button:hover {
  border-color: var(--color-dimgray);
}

.match-button:hover,
.a-small-button:hover {
  border-color: var(--color-dimgray);
  background: var(--color-darkgray);
}

.small-button:hover {
  border-color: var(--color-dimgray);
  background: var(--color-clear);
}

.logged-out:hover,
.logged-in:hover {
  border: 3px solid var(--color-dimgray);
  background: var(--color-darkgray);
}

.clean-button {
  cursor: pointer;
  background: var(--color-clear);
  border-color: var(--color-clear);
  margin: 8px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.a-large-button:active,
.large-button:active,
.a-small-button:active,
.small-button:active,
.friend-button:active .field,
.match-button:active,
.logged-in:active .field,
.logged-out:active .field,
.profile-button:active .field,
.medium-button:active {
  color: var(--color-dimgray);
}

.icon-button:active .icon,
.small-icon:active,
.logged-out:active .login-icon {
  filter: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(636%) hue-rotate(180deg) brightness(85%);
}

.large-button-red:active,
.medium-button-red:active {
  color: red;
}

.small-button:disabled,
.large-button:disabled {
    border-color: var(--color-dimgray);
    color: var(--color-dimgray);
}

/* INPUT */

.input-segment {
  height: 70px;
  min-width: 100%;
  max-width: 452px;
  background: var(--color-clear);
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  align-items: center;
  display: flex;
  padding: 13px 9px 13px 32px;
  box-sizing: border-box;
  margin-top: 42px;
}

.twoFA-input-style {
  min-width: 333px;
  max-width: 333px;
  margin-top: 21px;
}

.twoFA-input,
.text-field {
  background-color: var(--color-clear);
  border-color: var(--color-clear);
  color: var(--color-white);
  font-family: var(--font);
  margin-right: 13px;
  outline: 0;
}

.text-field {
  width: 100%;
  max-height: 44px;
  font-size: 40px;
  border-bottom: 1px dashed var(--color-lightgray);
}

.twoFA-input {
  width: 100%;
  max-width: 160px;
  max-height: 44px;
  font-size: 40px;
  border-bottom: 1px dashed var(--color-lightgray);
}

.twoFA-input:focus,
.text-field:focus {
  border-bottom: 1px dashed var(--color-white);
}

/* Bootstrap Icons */

.bi {
  color: white;
  font-size: 32px;
}

.gold-trophy {
  color: #D4AF37
}

.silver-trophy {
  color: #AAA9AD
}

.bronze-trophy {
  color: #CD7F32
}

.emoji-tears {
  color: #CC756B
}

.trophy {
  margin-right: 21px;
  font-size: 25px;
}

.large-trophy {
  margin-right: 21px;
  font-size: 42px;;
}

/* IMAGES */

.icon {
  width: 32px;
  height: 32px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.login-icon {
  width: 42px;
  height: 42px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: 8px;
}

.hidden {
  display: none !important;
}

.small-pp {
  object-fit: cover;
  display: none;
  width: 42px;
  height: 42px;
  border: 3px solid var(--color-highlightgray);
  border-radius: var(--br);
  margin-right: 17px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.3s ease;
}

#small-pp.show {
  display: block;
}

#small-profile-pic.show {
    display: block;
}

.large-pp {
  object-fit: cover;
  width: 126px;
  height: 126px;
  border: 3px solid var(--color-highlightgray);
  border-radius: 126px;
  padding: 0px;
  margin-top: -3px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.user-header {
  display: flex;
  flex-direction: column;
  margin-top: 19.5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.medium-text {
  font-size: 27px;
}

.small-icon {
  width: 35px;
  height: 35px;
}

.twoFA-QR {
  width: 210px;
  height: 210px;
  margin: 21px;
  border: 3px solid var(--color-highlightgray);
  border-radius: 21px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 8px;
}

/* TEXT */

.title {
  font-size: 64px;
  margin: 0px 32px;
  font-weight: var(--font-semibold);
}

.label {
  white-space: nowrap;
  height: 47px;
  align-items: center;
  display: flex;
  margin-right: 11px;
  font-size: 40px;
  font-weight: var(--font-semibold);
}

.field {
  font-family: var(--font);
  font-size: 32px;
  font-weight: var(--font-light);
  color: var(--color-white);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.subheading {
  width: 100%;
  max-width: 420px;
  font-size: 40px;
  font-weight: var(--font-semibold);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.large-text {
  font-size: 40px;
}

.small-text {
  font-size: 20px;
  text-align: left;
  max-width: 528px;
}

.small-text-bold {
  font-size: 20px;
  text-align: left;
  font-weight: var(--font-semibold);
}

.countdown {
  font-size: 164px;
  font-weight: var(--font-semibold);
  width: 130px;
  height: 151px;
  line-height: 175px;
}

.match-date {
  font-weight: var(--font-light);
  max-width: 330px;
  min-width: 330px;
  margin-right: 21px;
  text-align: left;
}

.match-text {
  font-weight: var(--font-light);
}

.match-icon {
  height: 38px;
  max-width: 38px;
  min-width: 38px;
  background: var(--color-dimgray);
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
  font-family: var(--font);
  font-size: 25px;
  font-weight: var(--font-semibold);
  color: var(--color-white);
  line-height: 32px;
  box-sizing: border-box;
  margin-right: 21px;
  text-align: center;
}

.left-player {
  width: 100%;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.left-score {
  width: 37px;
  font-weight: var(--font-semibold);
  margin-left: 5px;
  text-align: right;
}

.score-colon {
  width: 8.5px;
  font-weight: var(--font-semibold);
}

.right-score {
  width: 37px;
  font-weight: var(--font-semibold);
  margin-right: 5px;
  text-align: left;
}

.right-player {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.tournament-place {
  font-weight: var(--font-semibold);
  margin-right: 8px;
}

.tournament-players {
  font-weight: var(--font-semibold);
  margin: 0px 8px;
}

/*
GAME ELEMENTS
########################################################################
########################################################################
########################################################################
########################################################################
########################################################################
########################################################################
########################################################################
########################################################################
*/

.paddle_l,
.paddle_r {
  position: fixed;
  width: 42px;
  height: 210px;
  background: var(--color-white);
  border-radius: var(--br);
}

.paddle_l {
  left: 21px;
  top: 50%;
}

.paddle_r {
  right: 21px;
  top: 50%;
}

.ball {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  background: var(--color-white);
  border-radius: var(--br);
}

.hud {
  max-width: 100%;
  position: absolute;
  top: 21px;
  margin: 0px 21px;
  font-family: var(--font);
  color: var(--color-white);
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hud-main {
  max-width: 100%;
  height: 96px;
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  border-radius: 84px;
  display: grid;
  grid-template-columns: 1fr 189px 1fr;
  gap: 11px;
  align-items: center;
  align-content: center;
  padding: 0px 32px;
}

.hud-player-left,
.hud-player-right {
  width: 100%;
  max-width: 320px;
  font-size: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hud-player-left {
  text-align: right;
}

.hud-player-right {
  text-align: left;
}

.hud-score {
  display: flex;
  flex-direction: row;
  font-size: 64px;
  align-items: center;
}

.hud-score-left,
.hud-score-right {
  font-weight: var(--font-semibold);
  margin: 7px;
  width: 70px;
}

.hud-score-left {
  text-align: right;
}

.hud-score-colon {
  width: 7px;
  font-size: 42px;
  margin: 7px;
}

.hud-score-right {
  text-align: left;
}

.hud-time,
.game-result-time {
  display: flex;
  flex-direction: row;
  width: 124px;
  height: 49px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.hud-time {
  background-color: var(--color-window-bg);
  border: 3px solid var(--color-dimgray);
  border-radius: 0px 0px 21px 21px;
  margin-top: -3px;
}

.game-result-time {
  border: 3px solid var(--color-lightgray);
  border-radius: var(--br);
}

.hud-time-left,
.hud-time-right,
.hud-time-colon {
  font-size: 26px;
  margin: 0px 7px;
  text-align: center;
  width: 3px;
}

.hud-time-left,
.hud-time-right {
  width: 35px;
  text-align: left;
}

.hud-time-left {
  text-align: right;
}
