djangorestframework
requests
python-dotenv
djangorestframework-simplejwt
psycopg[binary,pool]
pyotp
gunicorn

#for testing mfa qr
Pillow
qrcode

#cors
django-cors-headers

#logging
python-logstash

#encryption
cryptography